{
  "presets": ["stage-3", "stage-2", "stage-1", "stage-0", "latest"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-async-generator-functions",
    "transform-export-extensions",
    "lodash"
  ]
}
